.input {
  width: 200px;
  position: relative;
  left: 45%;
}
.content-div {
  width: 100%;
  height: 300px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0px;
}
.line1 {
  border: 1px solid rgb(96, 94, 94);
  opacity: 0.6;
  transform: rotate(90deg);
  width: 300px;
  position: relative;
  top: 133px;
  left: 400px;
}
.cities {
  color: gray;

  position: relative;
  display: flex;
  flex-direction: column;

  position: relative;
  bottom: 30px;
  left: 50px;
}
.cityItem {
  margin-bottom: 30px;
  width: 200px;
  font-size: 30px;
  cursor: pointer;
}
.cityTemp {
  color: gray;
  position: relative;
  left: 300px;
  bottom: 280px;
  font-size: 60px;

  width: 100px;
}





